.swiper-button {
  position: absolute;
  top: 20;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: -50px;
}
.swiper-button-next {
  right: -60px;
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.mySwiper {
  order: 2;
}
