.swiper-button {
  position: absolute;
  top: 20;
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: -50px;
}
.swiper-button-next {
  right: -60px;
}
.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.arrow {
  position: absolute;
  margin-top: -5px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  width: 30%;
}

.arrow.arrow-left {
  border-radius: 50%;
  border: 1px solid rgb(238, 238, 238, 0.4);
}
.arrow.arrow-right {
  border-radius: 50%;
  border: 1px solid rgb(238, 238, 238, 0.4);
}
